$base: #24273a;
$text: #cad3f5;
$pink: #f5bde6;
$mauve: #c6a0f6;
$red: #ed8796;
$maroon: #ee99a0;
$peach: #f5a97f;
$yellow: #eed49f;
$green: #a6da95;
$teal: #8bd5ca;
$sky: #91d7e3;
$sapphire: #7dc4e4;
$blue: #8aadf4;
$lavender: #b7bdf8;
$text: #cad3f5;
$subtext1: #b8c0e0;
$subtext0: #a5adcb;
$overlay2: #939ab7;
$overlay1: #8087a2;
$overlay0: #6e738d;
$surface2: #5b6078;
$surface1: #494d64;
$surface0: #363a4f;
$base: #24273a;
$mantle: #1e2030;
$crust: #181926;

window {
  font-family: "ComicShannsMono Nerd Font Mono";
  font-weight: 600;
  font-size: 48px;
  color: $text;
}

.panel {
  background-color: rgba($base, 0.9);
  padding: 30px 40px 10px 40px;
  border-radius: 15px;
  border-color: $surface0;
  border-width: 4px;
  border-style: solid;
}

.time-home {
  font-size: 96px;
}

.time-others {
  font-size: 32px;
}

.time-name, .time-diff {
  color: $subtext0;
}
